<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试请求参数</title>
</head>
<body>
<h1>测试请求参数</h1>
<a th:href="@{/testServletAPI(username='admin',password=123456)}">测试servletAPI获取请求参数</a><br>
<a th:href="@{/testParam(username='admin',password=123456)}">测试控制器形参获取请求参数</a><br>
<form th:action="@{/testParam}">
    用户名：<input type="text" name="user_name"><br>
    密码：<input type="password" name="password"><br>
    爱好：<input type="checkbox" name="hobby" value="a">爬山<br>
    <input type="checkbox" name="hobby" value="b">游泳<br>
    <input type="checkbox" name="hobby" value="c">跑步<br>
    <input type="submit" value="测试控制器形参获取多个同名的请求参数">
</form>
<form th:action="@{/testBean}" method="post">
    用户名：<input type="text" name="username"><br>
    密码：<input type="password" name="password"><br>
    性别：<input type="radio" name="sex" value="男">男<input type="radio" name="sex" value="女">女<br>
    年龄：<input type="text" name="age"><br>
    邮箱：<input type="text" name="email"><br>
    <input type="submit" value="自动封装请求参数到pojo">
</form>
</body>
</html>