<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>首页</h1>
<form th:action="@{/testRequestBody}" method="post">
    <input type="text" name="username"><br>
    <input type="text" name="password"><br>
    <input type="submit" name="测试@RequestBody注解"><br>
</form>

<form th:action="@{/testRequestEntity}" method="post">
    <input type="text" name="username"><br>
    <input type="text" name="password"><br>
    <input type="submit" name="测试@RequestEntity"><br>
</form>

<a th:href="@{/testResponse}">测试通过Servlet_API response对象响应浏览器数据</a><br>
<a th:href="@{/testResponseBody}">测试ResponseBody注解响应浏览器数据</a><br>
<a th:href="@{/testResponseObj}">测试ResponseBody注解向浏览器响应对象数据</a><br>
<div id="app">
    <a @click="testAxios" th:href="@{/testAxios}">测试SpringMVC处理Axios</a><br>
</div>
<script type="text/javascript" th:src="@{static/js/vue.js}"></script>
<script type="text/javascript" th:src="@{static/js/axios.min.js}"></script>

<script type="text/javascript">
    new Vue({
        el: "#app",
        methods: {
            testAxios: function (event) {
                axios({
                    method: "post",
                    url: event.target.href,
                    params: {
                        username: "admin",
                        password: "123123"
                    }
                }).then(function (resopnse) {
                    alert(resopnse.data)
                });
                event.preventDefault()
            }
        }
    });
</script>

</body>
</html>